.total{
    background-color: #069c66;
    width:200px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.total-container{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;

}
button{
    background-color: #264640;
    color:white;
    font-weight: bold;
    font-size: 20px;

}